* {
    margin: 0px;
    padding: 0px;
}
.header {
    color: aliceblue;
    background-color: #171717;
    padding-bottom: 30px;
}
.logo {
    height: 70px;
    width: 70px;
}
.header-logo{
  font-size: 100px;
  vertical-align: middle;
  justify-content: flex-start;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
.hbleft {
    margin-left: 50px;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
.img1 {
    width:150px ;
    height:150px ;
}
.img {
    height: 300px;
    width: auto ;
    margin-left: 250px;
}
.header-body {
    display: flex;
    margin-top: 30px;
}
button {
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 8px;
}
.Boxes {
    display: flex;
    justify-content: space-around;
}
.section2 {
    margin-bottom: 40px;
}
span {
    margin-left: 60px;
}
.h2 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin-bottom: 20px;
}
.section3 {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #8A8A8A;
    font-size: 20px;
}
.qoutes{
    display: flex;
    justify-content: center;
}
.name {
    margin-left: 1000px;
}
.section4 {
    padding: 55px 88px;
}
.action {
    background-color: #8A8A8A;
    border-radius: 4px;
    display: flex;
    padding: 22px;
    justify-content: space-around;
}
.footer {
    display: flex;
    background-color: #171717;
    color: white;
    justify-content: center;
    padding: 30px;
}