* {
    margin: 0px;
    padding: 0px;
}
.header {
    color: aliceblue;
    background-color: #171717;
    padding-bottom: 30px;
}
.logo {
    height: 70px;
    width: 70px;
}
.header-logo{
  font-size: 100px;
  vertical-align: middle;
  justify-content: flex-start;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.hbleft {
    margin-left: 50px;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
.img {
    height: 300px;
    width: auto ;
    margin-left: 250px;
}
.header-body {
    display: flex;
    margin-top: 30px;
}